// immagini
$immagine: "../images/jumbotron.jpg";
$stri: "../images/stri.png";
// colori
$col-black: #101010;
$col-white: #f6f6f6;
$col-blu: #009cff;
$col-gray: #979797;
$col-black-2: #181818;
$col-purple: #ba57cb;
//font-size
$general-size: 18px;
$small-size: 16px;
$extra-small-size: 14px;
$extra-big-size: 25px;
$big-size: 21px;
